main {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 875px;

  section {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  .main_section {
    padding: 100px 0;
    color: #fff;
    background: #4a63e7;
    display: flex;
    justify-content: center;
    .container {
      width: 600px;

      h1 {
        font-weight: 700;
        margin: 20px 0;
        font-size: 4em;
      }

      .buttons {
        margin-top: 55px;
        a {
          color: #fff;
          border-radius: 100px;
          padding: 12px 26px;
          font-size: 16px;
          border: solid 1px #fff;
        }

        a:nth-child(2) {
          margin-left: 10px;
        }
      }
    }
  }

  .profile_section {
    color: #fff;
    background: #4a63e7;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    .container {
      width: 600px;
    }
  }
}
