form {
  width: 200px;
  button {
    color: #fff;
    background-color: inherit;
    border-radius: 100px;
    padding: 10px 24px;
    font-size: 16px;
    border: solid 1px #fff;
    outline: none;
    cursor: pointer;
  }
}
